@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500;700;900&display=swap');

:root{
  --primary-white: #fefeff;
  --primary-black: #1F1F1F;
  --primary-color: #00a1f7;
  --secondary-white: #f4fcff;
  --primary-lightBlue: #c6ebff;
}

*{
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
  transition: 300ms;
}
body{
  background-color: var(--primary-white);
}
a{
  text-decoration: none;
  color: var(--primary-black);
}

.icon{
  width: 18px;
  height: 18px;
  margin: 5px;
}
.flex{
  display: flex;
}

.border-line{
  border: 1px solid var(--primary-black);
}

.header{
  padding-bottom: 8px;
  /*box-shadow: 0px 8px 14px 3px rgba(0,0,0,0.1);*/
  border-bottom: 1px solid var(--primary-black);
}

.nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.logo-title{
  color: var(--primary-color);
  font-weight: 700;
  margin: 8px;
}

.nav-profile-avatar{
  margin: 8px;
  width: 38px;
  height: 38px;
  border: 1px solid var(--primary-black);
  border-radius: 19px;
  overflow: hidden;
  object-fit: contain;
}
.search-container{
  width: 100%;
  position: sticky;
  top: 0;
}
.search-box{
  background-color: var(--secondary-white);
  margin: 8px;
  padding: 6px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--primary-black);
  /*box-shadow: 0 3px 12px 4px #c6c6c6;*/
}

.ipt-search{
  font-size: 12px;
  background: none;
  border:none;
  padding: 5px;
  flex: 1;
}
.ipt-search:hover,
.ipt-search:focus{
  outline: none;
}

.fab-container{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.fab-cart{
  background-color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  padding: 18px;
  border: 1px solid var(--primary-black);
  border-radius: 50%;
}
.img-cart{
  width: 32px;
  height: 32px;
}

.cart-badge{
  background-color: var(--secondary-white);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 32px;
  border: 1px solid var(--primary-black);
  border-radius: 16px;
  transform: translate(26px,-26px);
}

.main-body{
  margin: 8px;
  margin-bottom: 80px;
}

.pro-list-item-list{
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: y mandatory;
}

.pro-card{
  margin: 8px;
  width: 180px;
  min-width: 180px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  scroll-snap-align: start;
}

.pro-card:hover{
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.1);
}

.pro-card-img{
  width: 180px;
  height: 180px;
  margin: 0;
}
.pro-card-name{
  font-size: 15px;
  margin: 5px;
  margin-bottom: 0;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.pro-card-brand{
  font-size: 12px;
  margin: 0 5px;
}

.pro-card-price{
  color: var(--primary-color);
  font-weight: 500;
  margin: 5px;
  margin-top: 0;
}

 
/*Style to Product Page
=========================================*/

.g-back{
  position: fixed;
  top: 12px;
  left: 12px;
  background-color: var(--primary-white);
  border-radius: 50%;
  padding: 5px;
  z-index: 100;
}

.body-product{
  margin-bottom: 90px;
  box-sizing: border-box;
  position: relative;
}

.product-img{
  max-width: 100%;
  max-height: 100%;
  margin: 8px;
  background-size: cover;
}
.product-name,
.product-brand{
  margin: 8px;
  font-weight: 500;
}

.product-price{
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  margin: 8px;
}

.product-disc{
  margin: 8px;
  padding: 8px 0;
  border-top: 1px solid var(--primary-black);
  border-bottom: 1px solid var(--primary-black);
}

.show-more a,
.show-less a{
  color: var(--primary-color);
  font-size: 14px;
}

.product-btn-buy-container{
  background-color: var(--primary-white);
  width: 100%;
  position: fixed;
  padding: 8px;
  left: 0;
  bottom: 0;
  border-top: 1px solid var(--primary-black);
  display: flex;
  justify-content: center;
}
.product-btn-buy,
.product-btn-add{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
}

.product-btn-buy{
  background-color: var(--primary-lightBlue);
}

.product-btn-buy:hover,
.product-btn-add:hover{
  color: var(--primary-white);
  background-color: var(--primary-color);
}

.pro-not-found{
  background: var(--primary-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.pro-not-found a{
  margin: 12px;
  padding: 8px;
  color: var(--primary-color);
  border-radius: 8px;
}

.pro-not-found.show{
  display: flex;
}

/*Style to Profile Page
=========================================*/

.prof-container,
.prof-user-name-container{
  display: flex;
  flex-direction: row;
}
.prof-user-img{
  margin: 8px;
  height: 100px;
  width: 100px;
  background-size: cover;
}

.prof-user-name-container{
  margin: 8px;
}