@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;700;900&display=swap');

:root{
  --primary-white: #fefeff;
  --primary-black: #1F1F1F;
  --primary-color: #00a1f7;
  --secondary-white: #f4fcff;
  --primary-lightBlue: #c6ebff;
}

*{
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
  font-weight: 300;
  transition: 300ms;
}
body{
  background-color: var(--primary-white);
}
a{
  text-decoration: none;
  color: var(--primary-black);
}

.icon{
  width: 18px;
  height: 18px;
  margin: 5px;
}
.flex{
  display: flex;
}

.border-line{
  border: 1px solid var(--primary-black);
}

.header{
  padding-bottom: 8px;
  /*box-shadow: 0px 8px 14px 3px rgba(0,0,0,0.1);*/
  border-bottom: 1px solid var(--primary-black);
}

.nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.logo-title{
  color: var(--primary-color);
  font-weight: 700;
  margin: 8px;
}

.nav-profile-avatar{
  margin: 8px;
  width: 38px;
  height: 38px;
  border: 1px solid var(--primary-black);
  border-radius: 19px;
  overflow: hidden;
  object-fit: contain;
}
.search-container{
  width: 100%;
  position: sticky;
  top: 0;
}
.search-box{
  background-color: var(--secondary-white);
  margin: 8px;
  padding: 6px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--primary-black);
  /*box-shadow: 0 3px 12px 4px #c6c6c6;*/
}

.ipt-search{
  font-size: 12px;
  background: none;
  border:none;
  padding: 5px;
  flex: 1;
}
.ipt-search:hover,
.ipt-search:focus{
  outline: none;
}

.fab-container{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.fab-cart{
  background-color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  padding: 18px;
  border: 1px solid var(--primary-black);
  border-radius: 50%;
}
.img-cart{
  width: 32px;
  height: 32px;
}

.cart-badge{
  background-color: var(--secondary-white);
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 32px;
  border: 1px solid var(--primary-black);
  border-radius: 16px;
  transform: translate(26px,-26px);
}

.main-body{
  margin: 8px;
  margin-bottom: 80px;
}

.pro-list-item-list{
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: y mandatory;
}

.pro-card{
  margin: 8px;
  width: 180px;
  min-width: 180px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  scroll-snap-align: start;
}

.pro-card:hover{
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.1);
}

.pro-card-img{
  width: 180px;
  height: 180px;
  margin: 0;
}
.pro-card-name{
  font-size: 15px;
  margin: 5px;
  margin-bottom: 0;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.pro-card-brand{
  font-size: 12px;
  margin: 0 5px;
}

.pro-card-price{
  color: var(--primary-color);
  font-weight: 500;
  margin: 5px;
  margin-top: 0;
}

 
/*Style to Product Page
=========================================*/

.g-back{
  position: fixed;
  top: 12px;
  left: 12px;
  background-color: var(--primary-white);
  border-radius: 50%;
  padding: 5px;
  z-index: 100;
}

.body-product{
  margin-bottom: 90px;
  box-sizing: border-box;
  position: relative;
}

.product-img{
  max-width: 100%;
  max-height: 100%;
  margin: 8px;
  background-size: cover;
}
.product-name,
.product-brand{
  margin: 8px;
  font-weight: 500;
}

.product-price{
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  margin: 8px;
}

.product-disc{
  margin: 8px;
  padding: 8px 0;
  border-top: 1px solid var(--primary-black);
  border-bottom: 1px solid var(--primary-black);
}

.show-more a,
.show-less a{
  color: var(--primary-color);
  font-size: 14px;
}

.product-btn-buy-container{
  background-color: var(--primary-white);
  width: 100%;
  position: fixed;
  padding: 8px;
  left: 0;
  bottom: 0;
  border-top: 1px solid var(--primary-black);
  display: flex;
  justify-content: center;
}
.product-btn-buy,
.product-btn-add{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
}

.product-btn-buy{
  background-color: var(--primary-lightBlue);
}

.product-btn-buy:hover,
.product-btn-add:hover{
  color: var(--primary-white);
  background-color: var(--primary-black);
}

.pro-not-found{
  background: var(--primary-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.pro-not-found a{
  margin: 12px;
  padding: 8px;
  color: var(--primary-color);
  border-radius: 8px;
}

.pro-not-found.show{
  display: flex;
}

/*Style to Profile Page
=========================================*/

.dialog-container{
  font-family: 'Monaco';
  background: rgba(0,0,0,0.471);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-container.show{
  display: flex;
}

.edt-name-dialog{
  position: relative;
  background: var(--primary-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px;
  padding: 12px 8px;
  max-width: 376px;
}

.ipt-edit-name{
  font-size: 16px;
  font-family: 'Monaco';
  width: 100%;
  padding: 8px;
}

.btn-edt-dia{
  margin: 12px;
  margin-bottom: 0;
  padding: 8px;
}

.prof-container{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--primary-black);
}

.user-info-container{
  display: flex;
  flex-direction: row;
}

.prof-user-img-container{
  position: relative;
  margin: 8px;
  width: 100px;
}

.prof-user-img{
  height: 100px;
  width: 100px;
  background-size: cover;
}

.prof-user-img-edt{
  background: var(--primary-lightBlue);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 4px;
  height: 24px;
  width: 24px;
}
.prof-user-img-edt:hover{
  filter: invert(1);
}

.prof-user-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 8px;
}

.prof-user-name{
  max-width: 100%;
  padding: 0;
  transition: 300ms;
  white-space: nowrap;
  overflow: ellipsis;
}

.prof-user-email{
  font-size: 12px;
  margin: 8px 0;
}

.btn-sign-in{
  padding: 4px 16px;
  color: var(--primary-white);
  background-color: var(--primary-black);
}

.btn-edit-name,
.btn-edit-pass{
  text-align: center;
  padding: 8px;
  margin: 8px;
}

.btn-sign-in:hover,
.btn-edit-name:hover,
.btn-edit-pass:hover{
  box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.14) , 
              0px 2px 8px 3px rgba(0,0,0,0.12) , 
              0px 4px 6px -3px rgba(0,0,0,0.2) ;
}

.opt-my-order,
.opt-my-cart{
  padding: 16px;
}

.bottom-line{
  border-bottom: 1px solid var(--primary-black);
}

.copyright-section{
  color: #999999;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin: 50px 0;
}

.copyright-section a{
  text-decoration: underline;
}

.copyright-section span{
  font-size: 10px;
}

/*Style to SignUp Page
=========================================*/

.signup-body{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.signup-content{
  margin: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 376px;
  padding: 14px;
  max-height: 100%;
  overflow-y: auto;
}

.signup-title{
  margin: 4px;
  align-self: center;
}
.error-msg{
  visibility: hidden;
  color: #ff0000;
  font-size: 12px;
  font-family: 'Monaco';
}
.error-msg.show{
  visibility: visible;
}

.signup-ipt-name,
.signup-ipt-email,
.signup-ipt-pass{
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--primary-black);
}

.signup-ipt-name-label,
.signup-ipt-email-label,
.signup-ipt-pass-label{
  margin-top: 12px;
  font-weight: 400;
}

.signup-btn{
  color: var(--primary-white);
  background-color: var(--primary-black);
  margin: 12px 0;
  padding: 8px;
  font-weight: 400;
}

.signup-google{
  text-align: center;
  padding: 8px;
  margin: 12px 0;
  font-weight: 400;
}

.signup-btn:hover,
.signup-google:hover{
  box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.14) , 
              0px 2px 8px 3px rgba(0,0,0,0.12) , 
              0px 4px 6px -3px rgba(0,0,0,0.2) ;
  
}

.or-signup{
  color: #9c9c9c;
  align-self: center;
  font-size: 12px;
}

.signup-old{
  align-self: center;
  font-size: 12px;
}

.signup-old a{
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
}

/*Style to SignIn Page
=========================================*/

.signin-body{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.signin-content{
  margin: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 376px;
  padding: 14px;
  max-height: 100%;
  overflow-y: auto;
}

.signin-title{
  margin: 4px;
  align-self: center;
}

.signin-ipt-email,
.signin-ipt-pass{
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--primary-black);
}

.signin-ipt-email-label,
.signin-ipt-pass-label{
  margin-top: 12px;
  font-weight: 400;
}

.signin-btn{
  color: var(--primary-white);
  background-color: var(--primary-black);
  margin: 12px 0;
  padding: 8px;
  font-weight: 400;
}

.signin-google{
  text-align: center;
  padding: 8px;
  margin: 12px 0;
  font-weight: 400;
}

.signin-btn:hover,
.signin-google:hover{
  box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.14) , 
              0px 2px 8px 3px rgba(0,0,0,0.12) , 
              0px 4px 6px -3px rgba(0,0,0,0.2) ;
  
}

.or-signin{
  color: #9c9c9c;
  align-self: center;
  font-size: 12px;
}

.signin-new{
  align-self: center;
  font-size: 12px;
}

.signin-new a{
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
}

.err-wrong-info{
  color: #ff0000;
  display: none;
  padding: 12px;
  margin: 8px;
  background-color: rgba(255,0,0,0.129);
  border: 1px solid #ff0000;
  text-align: center;
  font-size: 12px;
  font-family: 'Monaco';
  font-weight: bold;
}

.err-wrong-info.show{
  display: block;
}

/*Style to Verify Page
=========================================*/

.body-verify{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  padding: 15%;
}
.txt-verify{
  font-size: 18px;
  text-align: center;
}
#btn-verify{
  transition: 200ms;
}

#btn-verify:hover,
#btn-verify:focus{
  color: var(--primary-white);
  background-color: var(--primary-black);
}

/*Style to Search Page
=========================================*/

.cat-list{
  padding: 0px 4px;
  overflow-x:auto;
  white-space: nowrap;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}
.cat-list::-webkit-scrollbar {
  display: none;
}

.cat-list-item{
  display: inline-block;
  margin: 4px;
  padding: 6px 14px;
  font-size: 12px;
  font-family: 'Monaco';
}

.cat-list-item.checked{
  background: var(--primary-lightBlue);
}

.search-item{
  display: flex;
  padding: 8px;
}

.srch-item-details{
  flex: 1;
  overflow: hidden;
}

.srch-item-details span{
  display: block;
  margin: 4px;
  margin-top: 0;
  padding: 0px;
}

.srch-item-name{
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
}

.srch-item-cat{
  font-size: 12px;
  font-weight: 400;
}

.srch-item-disc{
  color: #696969;
  font-size: 10px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.srch-item-img{
  aspect-ratio: 1/1;
  width: 65px;
}

.no-reslt{
  display: none;
  justify-content: center;
  text-align: center;
  font-family: 'Monaco';
  margin: 8px;
  font-size: 18px;
}
.no-reslt.show{
  display: flex;
}

/*Style to Cart|Orders  Page
=========================================*/

.header-back{
  aspect-ratio: 1/1;
  width: 28px;
  margin: 8px;
}

.empty-body{
  display: none;
  justify-content: center;
  align-items: center;
  margin: 28px;
}
.pro-item{
  padding: 8px;
}
.pro-item-details{
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

.pro-item-brand{
  font-size: 12px;
  color: #696969;
}
.pro-item-price{
  font-weight: 500;
}

.pro-item-btn-cont{
  align-self: center;
}
.pro-item-btn{
  padding: 8px;
  width: 100%;
}
.pro-item-img-cont{
  aspect-ratio: 1/1;
  max-width: 150px;
}
.pro-item-img{
  aspect-ratio: 1/1;
  width: 100%;
}
